<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <!-- left col -->
            <div class="hero__body">
                <div class="hero__sup">
                    <div class="hero__label">{{ label }}</div>
                    <div class="hero__sup-text">{{ textAbove }}</div>
                </div>
                <div class="hero__title">{{ title }}</div>
                <div class="hero__text">
                    {{ text }}
                </div>

                <app-button
                    type="link-arrow"
                    [text]="buttonText"
                    additionalClass="hero__button button--arrow"
                    [href]="buttonLink"
                ></app-button>
            </div>

            <!-- right col -->
            <div class="hero__pic">
                <img src="assets/images/content/hero.png" alt="hero img" />
            </div>
        </div>
    </div>
</section>
