.earn {
    padding-bottom: 220px;
}

.earn__top {
    text-align: center;
}

.earn__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 24px;
}

.earn__title-text {
    max-width: 622px;
    margin: 0 auto;
    color: #e0e0e0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.earn__bottom {
    position: relative;
    min-width: 100%;
}

.earn__block {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 16px;
    color: #000;
    padding: 48px;
    max-width: 942px;
    margin: 0 auto;
}

.earn__block-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px;
}

.earn__block-input-box {
    max-width: 403px;
}

.earn__block-input {
    max-width: 100%;
    width: 403px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    font-size: 20px;
}
.earn__block-input:focus {
    border-color: red;
}

.earn__block-select-box {
    max-width: 200px;
    margin: 0 48px;
    position: relative;
}
.earn__block-select-box:after {
    content: "";
    position: absolute;
    top: 7px;
    right: 10px;
    background: url("assets/images/icons/select.svg") 0 0 no-repeat;
    background-size: contain;
    width: 11px;
    height: 7px;
    pointer-events: none;
}

.earn__block-select {
    cursor: pointer;
    max-width: 100%;
    width: 200px;
    background-color: #fff;
    appearance: none;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    font-size: 20px;
}
.earn__block-select:focus {
    border-color: red;
}

.earn__block-button {
    font-weight: 500;
}

.earn__block-text {
    font-weight: 500;
    font-size: 16px;
    color: #3671e9;
    margin-bottom: 25px;
}
.earn__block-value {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}
.earn__block-value span {
    color: #3671e9;
}

.earn__block-sub-text {
    font-weight: 400;
    font-size: 16px;
    color: #828282;
}

/* ========================================================================================== */

/* RESPONSIVE DESIGN */

@media (max-width: 992.98px) {
    .earn {
        padding-bottom: 180px;
    }
    .earn__block {
        top: 50px;
    }
    .earn__block-form {
        margin-bottom: 50px;
    }
    .earn__block-input {
        width: 200px;
    }
}

@media (max-width: 767.98px) {
    .earn {
        padding-bottom: 100px;
    }
    .earn__top {
        margin-bottom: 50px;
    }
    .earn__title {
        line-height: 100%;
    }
    .earn__bottom {
        position: static;
    }
    .earn__block {
        position: static;
        transform: translateX(0%);
    }
    .earn__block-form {
        flex-direction: column;
    }
    .earn__block-input-box {
        max-width: 100%;
        margin-bottom: 50px;
        width: 100%;
    }
    .earn__block-input {
        width: 100%;
    }
    .earn__block-select-box {
        max-width: 100%;
        width: 100%;
        margin-bottom: 50px;
    }
    .earn__block-select {
        width: 100%;
    }
    .earn__block-button {
        width: 100%;
    }
    .earn__block-value {
        line-height: 1.25;
    }
    .earn__block-sub-text {
        line-height: 1.25;
    }
}

@media (max-width: 479.98px) {
    .earn {
        padding-bottom: 50px;
    }
    .earn__title {
        font-size: 34px;
    }
    .earn__title-text {
        font-size: 16px;
    }
    .earn__block {
        padding: 48px 24px;
    }
    .earn__block-input {
        font-size: 16px;
    }
    .earn__block-select {
        font-size: 16px;
    }
}
