<section class="earn">
    <div class="container">
        <div class="earn__wrapper">
            <div class="earn__top">
                <div class="earn__title">{{ title }}</div>
                <div class="earn__title-text">
                    {{ text }}
                </div>
            </div>
            <div class="earn__bottom">
                <div class="earn__block">
                    <form action="#" class="earn__block-form">
                        <div class="earn__block-input-box">
                            <input
                                [(ngModel)]="inputValue"
                                name="inputValue"
                                type="number"
                                min="0"
                                class="earn__block-input"
                                [placeholder]="placeholder"
                            />
                        </div>
                        <div class="earn__block-select-box">
                            <select class="earn__block-select" (change)="onChangeSelect($event)">
                                <!-- LOOP OVER AND GENERATE -->
                                <option
                                    *ngFor="let item of selectOptions; let index = index"
                                    [value]="item"
                                    [selected]="index === 0"
                                >
                                    {{ item }}
                                </option>
                            </select>
                        </div>

                        <app-button
                            (click)="calcIt()"
                            type="button"
                            [text]="buttonText"
                            additionalClass="earn__block-button"
                        ></app-button>
                    </form>
                    <div class="earn__block-bottom">
                        <div class="earn__block-text">{{ bottomTitle }}</div>
                        <div class="earn__block-value">{{ finalAmount }} <span>USD</span></div>
                        <div class="earn__block-sub-text">{{ bottomText }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
