<section class="subscribe">
    <div class="container">
        <div class="subscribe__wrapper">
            <div class="subscribe__body">
                <div class="subscribe__title">{{ title }}</div>
                <div class="subscribe__text">{{ text }}</div>
            </div>
            <form class="subscribe__form">
                <div class="subscribe__input-box">
                    <input required="true" type="email" class="subscribe__input email" [placeholder]="placeholder" />
                </div>
                <button type="submit" class="subscribe__button">{{ buttonText }}</button>
            </form>
        </div>
    </div>
</section>
