.details {
    background-color: #2b076e;
    padding: 100px 0;
}

.details__title {
    max-width: 758px;
    margin: 0 auto 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
}

.details__block {
    display: flex;
    column-gap: 64px;
    justify-content: space-between;
    margin-bottom: 120px;
}

.details__block:last-child {
    margin-bottom: 0;
}

.details__block--reversed {
    flex-direction: row-reverse;
    align-items: center;
}

.details__block--1 .details__block-body {
    margin-top: 50px;
}

.details__block-body {
    max-width: 454px;
}

.details__block-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
}

.details__block-text {
    line-height: 28px;
    color: #e0e0e0;
    margin-bottom: 32px;
    max-width: 408px;
}

.details__block-button {
    font-size: 18px;
    font-weight: 500;
}

.details__block-pic img {
    max-width: 100%;
    transition: all 0.6s;
}

.details__block-pic img:hover {
    transform: scale(1.05);
}

/* ========================================================================================== */

/* RESPONSIVE DESIGN */

@media (max-width: 992.98px) {
    .details__block--1 .details__block-body {
        margin-top: 0;
    }
    .details__block-body {
        min-width: 330px;
    }
    .details__block-title {
        font-size: 28px;
    }
}

@media (max-width: 767.98px) {
    .details__title {
        font-size: 31px;
    }
    .details__block {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
    .details__block-body {
        max-width: 100%;
        margin-bottom: 50px;
    }
    .details__block-text {
        max-width: 100%;
    }
    .details__block-button {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 479.98px) {
    .details__block-body {
        min-width: 300px;
        margin-bottom: 30px;
    }
    .details__block-title {
        margin-bottom: 10px;
    }
    .details__block-text {
        margin-bottom: 20px;
    }
    .details {
        padding: 50px 0 90px;
    }
    .details__title {
        font-size: 30px;
        margin-bottom: 50px;
    }
}
