.subscribe__button {
    display: inline-block;
    padding: 14px 32px;
    border-radius: 32px;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}

.subscribe__button:hover {
    background-color: #000 !important;
    color: #fff !important;
    opacity: 1 !important;
}
