<section class="why">
    <div class="container">
        <div class="why__wrapper">
            <div class="why__pic">
                <img [src]="imgPath" alt="reason image" />
            </div>
            <div class="why__body">
                <div class="why__title">{{ title }}</div>
                <div class="why__text">
                    {{ text }}
                </div>

                <app-button type="link" [text]="buttonText" additionalClass="why__button" [href]="buttonLink"></app-button>
            </div>
        </div>
    </div>
</section>
